/* start DE Styles */

body {
    font-family: "Montserrat", sans-serif;
  }
  
  .hero-wrapper {
    /* min-width: 100%; */
    background-image: url("../img/inner-headerBG.jpg");
    background-size: cover;
    height: 365px;
  
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }
  
  .hero-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
  
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    padding-top: 157px;
  }
  
  .hero-text {
    margin: 0;
  }
  
  .hero-hr {
    width: 65%;
    border: none;
    height: 4px;
    background-color: #fff;
    margin-top: 0;
  }
  

.hero-btn-wrapper{
    display: flex;
    justify-content: center;
    /* align-items: center; */

    margin-top: 50px;
}

  .btn {
    background: #2a5a72;
    border: 1.5px solid #ffffff;
    border-radius: 21.4286px;
    color: #fff;
    font-weight: 700;
    padding: 12px;
  }
  