/* start DE Styles */

/* typography */
body {
    font-family: "Montserrat", sans-serif;
  }
  
  /* BS classes */
  .container-de,
  .container-de-fluid,
  .container-de-xxl,
  .container-de-xl,
  .container-de-lg,
  .container-de-md,
  .container-de-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container-de-sm,
    .container-de {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-de-md,
    .container-de-sm,
    .container-de {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container-de-lg,
    .container-de-md,
    .container-de-sm,
    .container-de {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container-de-xl,
    .container-de-lg,
    .container-de-md,
    .container-de-sm,
    .container-de {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container-de-xxl,
    .container-de-xl,
    .container-de-lg,
    .container-de-md,
    .container-de-sm,
    .container-de {
      max-width: 1320px;
    }
  }
  
  .row-de {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row-de > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  
  .col-de {
    flex: 1 0 0%;
  }
  .col-de-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  
  .col-de-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  
  .col-de-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  
  .col-de-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
  .col-de-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  
  .col-de-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .col-de-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  
  .col-de-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  
  .col-de-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  
  .col-de-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  
  .col-de-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  
  .col-de-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .col-8 {
  }
  
  .col-4 {
  }
  
  /* hero */
  .hero-wrapper {
    /* min-width: 100%; */
    background-image: url("../img/inner-headerBG.jpg");
    background-size: cover;
    /* background-position: center top; */
    height: 365px;
  
    /* display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; */
  }
  
  .hero-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  
    padding-top: 157px;
  }
  
  .hero-text {
    margin: 0;
    font-weight: 700;
  }
  
  .hero-hr {
    width: 65%;
    border: none;
    height: 4px !important;
    background-color: #fff;
    margin-top: 0;
    opacity: 1;
  }
  
  .hero-btn-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  
    margin-top: 50px;
  }
  
  .btn {
    background: #2a5a72;
    border: 1.5px solid #ffffff;
    border-radius: 21.4286px;
    color: #fff;
    font-weight: 700;
    /* padding: 12px; */
  }
  
  /* values */
  .values-container {
    /* width: 80%; */
    margin-top: 60px;
  }
  
  .values-row {
    /* margin-top: 2rem; */
  }
  
  .value-item-wrapper {
    /* border: 1px solid black; */
    display: flex;
  }
  
  .value-text-container {
    background-color: #2a5a72;
    color: #fff;
    /* width: 395px; */
    min-height: 136px;
    padding-right: 19px;
    padding-left: 19px;
    margin-bottom: 32px;
  }
  
  .right-text {
    text-align: right;
  }
  .left-text {
    text-align: left;
  }
  
  .value-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    padding-top: 9px;
    line-height: 29px;
  }
  
  .value-hr {
    height: unset !important;
    opacity: 1;
    margin: 0;
    border: 1px solid #b0d460;
    width: 254px;
    margin-left: auto;
    margin-bottom: 18px;
  }
  
  .value-text {
    font-size: 14px;
    padding-left: 15px;
    font-family: "Raleway";
    line-height: 16px;
  }
  
  .svg-container {
    border: solid 3px #b0d460;
  }
  