:root {
  --blue: #2b5b73;
  --green: #b0d460;
}

body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

p {
  padding: 0;
  margin: 0;
}

.de-btn {
  background-color: var(--blue);
  color: #fff;
  border: var(--green) solid 1.5px;
  padding: 0.5em 1em;
  border-radius: 100px;
  font-size: 1rem;
}

/* Hero */

.hero-container {
  /* min-height: 500vh; */
}

.hero-img {
  background-image: url("https://lscu.coop/about/imgs/hr-explore.jpg");
  background-size: cover;
  min-height: 35vh;
  background-repeat: no-repeat;
}

/* Ready Section */

.ready > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--blue);
  padding: 0 1rem;
  margin-top: 1rem;
}

.blue-bar-wrapper {
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.ready h3 {
  color: var(--green);
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: 700;
}

.ready hr {
  color: #fff;
}

.ready p {
  color: #fff;
}

.ready .btn-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.ready .cta-wrapper {
  margin-bottom: 0.75rem;
}

/* Benefits Section */

.benefits-container {
  background-color: var(--blue);
  padding: 1rem;
}

.benefits-container h2 {
  color: #fff;
}

.benefits-container em {
  color: var(--green);
}

.benefits-container hr {
  color: var(--green);
}

.benefits-container p {
  color: #fff;
}
