:root {
  --clr-primary-400: #2a5a72;

  --clr-accent-400: #b0d460;

  --clr-neutral--100: #ffffff;
  --clr-neutral--400: #cbcbcb;
  --clr-neutral--700: #343434;

  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Dancing Script", cursive;

  --ff-heading: var(--ff-primary);
  --ff-secondary-heading: var(--ff-accent);
  --ff-body: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: 1rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-700);
  --fs-btn: var(--fs-400);

  --wide-container-padding: 2.9rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.primary-header-100 {
  color: var(--clr-neutral--100);
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary-heading);
}

.primary-header-400 {
  color: var(--clr-primary-400);
  font-weight: var(--fw-bold);
  font-size: var(--fs-primary-heading);
}

.secondary-header-400 {
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-secondary-heading);
}

.heading-accent {
  color: var(--clr-accent-400);
  font-weight: var(--fw-black);
}

.text-primary-100 {
  color: var(--clr-neutral--100);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

/* .container {
  --max-width: 1200px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
} */

.full-container {
  width: 100%;
}

.wide-container {
  --max-width: 1325px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  padding: 1rem 1rem;
}

@media (min-width: 50em) {
  .wide-container-content {
    padding: 0 var(--wide-container-padding);
  }
}

.container {
  --max-width: 1200px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.flex{
  display: flex;
}

.absolute{
  position: absolute;
}

.relative {
  position: relative;
  height: 472px;
}

/* .even-col {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-col {
    grid-auto-flow: column;
  }
} */

/* General Styles */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral--100);
}

hr {
  border-color: var(--clr-neutral--100);
  margin-left: 2.9rem;
}

/* Button */

.btn {
}

/* Hero */
.hero-img {
  background-image: url("../imgs/inner-headerBG\ 1.png");
  background-size: cover;
}

/* CTA */

.cta {
}

@media (min-width: 50em) {
  .cta {
    display: flex;
    position: relative;
  }
}

.cta img {
  display: none;
}

@media (min-width: 50em) {
  .cta img {
    display: block;
    /* position: absolute; */
  }
}

/* Accordion */

/* .accordion {
  display: grid;
} */

details {
  color: #343434;
}

.testimonial-card {
  width: min(90%, 360px);
  height: 325px;
  background-color: var(--clr-primary-400);
}
